
<div class="d-flex justify-content-center align-items-center vh-100">

  <div class="card p-4" style="width: 24rem;">
    <!-- <div class="card-header">
      Featured
    </div> -->

    <img src="assets/images/dexian-logo.svg" alt="logo">

    <div class="card-body">

      <form role="form" #form="ngForm">

        <div class="row">

          <label for="nome" class="form-label">Usuário</label>
          <input type="text" class="form-control form-control-sm" id="nome" name="nome" [(ngModel)]="loginViewModel.sNome" #nome="ngModel" required autocomplete="off" [class.is-invalid]="nome.touched && nome.invalid">
          <div *ngIf="nome.invalid" class="invalid-feedback">
            Campo Obrigatório
          </div>

        </div>

        <div class="row mt-2">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control form-control-sm" id="senha" name="senha" [(ngModel)]="loginViewModel.sSenha" #senha="ngModel" required autocomplete="off" [class.is-invalid]="senha.touched && senha.invalid">
          <div *ngIf="senha.invalid" class="invalid-feedback">
            Campo Obrigatório
          </div>
        </div>

        <div class="row mt-5">
          <button class="btn btn-outline-primary" [disabled]="form?.invalid" (click)="onLogin()">Login</button>
        </div>

      </form>



    </div>
  </div>

</div>
